# Ambiente virtual
venv/

# Arquivos de configuração e variáveis de ambiente
.env
# Ambiente virtual
venv/


# Arquivos do sistema
__pycache__/
*.py[cod]
*.sqlite3

# Arquivos de log
*.log

# Arquivos de cache do Django
db.sqlite3
*.pot
*.pyc
*.pyo
.DS_Store

# Diretórios estáticos gerados
staticfiles/

# Configurações de IDE
.vscode/
.idea/
